/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	text-transform: none;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color_blue;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}

a:focus, a:active {
	outline: none !important;
}

/* Underline styles. border bottom on section titles */

.underline-all {
	width: 100%;
	border-bottom: 3px solid $color_blue;

		&.blue {
			color: $color_blue;
		}
		&.green {
			color: $color_green;
		}
}

.underline-thin {
	width: 100%;
	border-bottom: 2px solid $color_blue;

		&.green {
			border-bottom: 2px solid $color_green;
			margin-bottom: 1em;
		}
}

// Read More Background + button

.home-post .read-more-bg:not(a) {
	background: url(../../assets/images/square.png) repeat-x;
	background-size: 40%;
	filter:alpha(opacity=50);
	background-position: center center;
	display: flex;
	justify-content: center;
	padding: 2em;
  margin: 2em 0;
  text-align: center;
}

.read-more {
	background-color: #ee7c90;
	font-size: 1.5em;
	padding: .4em 1.3em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

// Button - Read More home

.more-link,
.more-link:active,
.more-link:visited  {
	@include button;
	color: #fff;

}

.read-more:hover {
	@include hover-button;
	color: $color_blue;
}

.read-more:visited {
	color: $color_white;
}

// Button Link

.button-link,
.button-link:active,
.button-link:visited  {
	@include button;
	color: #fff;
}

.button-link:hover {
  opacity: 0.8;
	@include hover-button;
}

// Home CTAs

.cta-home {

	a:hover {
		opacity: 0.8;
	}
}

// post-navigation

.site-main .navigation.post-navigation {
	margin-bottom: 4em;
}

.nav-links .nav-previous, .nav-links .nav-next {
	a, a:active, a:focus {
		color: $color_blue;
	}

	a:hover {
		color: $color_blue;
		opacity: 0.8;
	}
}

.post-navigation {
	border-top: 1.5px solid $color_blue;
	border-bottom: 1.5px solid $color_blue;
	padding: 0.5em 0;

	.nav-previous::before {
		color: $color_blue;
		content: '\2770\ ';
	}
	.nav-previous:hover {
		opacity: 0.8;
	}
	.nav-next::after {
		color: $color_blue;
		content: '\ \2771';
	}
	.nav-next:hover {
		opacity: 0.8;
	}
}

// Blog Optin

.blog-optin {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3em;
	background: $color_blue;
	padding: 1em;
	color: #fff;
	text-align: center;

	.white {
		color: #fff;
	}

	h3 {
		margin-bottom: 1em;
	}

	img {
		flex: 0 1 7%;
	}
	div {
		flex: 0 2 90%;
	}
	p {
		margin: 0;
	}

	button {
		margin-top: 1.5em;
	}
}

#mce-error-response {
	color: $color_white;
}
