/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  background: $color_blue;
  padding: 0.5em 0;
  width: 100%;

  @include desktop {
    background: transparent;
    height: 84px;
  }
}

.home .site-header {
  @include desktop {
    position: absolute;
    z-index: 100;

    .logo {
      filter: brightness(12)
    }

    .menu-item:not(.menu-item-has-children):not(.menu-box) a {
      color: $color_white;
    }
  }
}

.main-navigation {
  flex: 1 0 40%;

  @include desktop {
    flex: 1 0 80%;
  }
}

.site-description {
  display: none;
}

.site-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;

  a {
    flex: 1 0 13%;
  }

  @include desktop {
    margin: 0 3em;
  }
}

.logo {
  filter: brightness(12);
  min-width: 60px;
  max-width: 120px;


  @include desktop {
    filter: none;
    z-index: 100;
  }
}

#desktop-menu {
  display: none;

  @include desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2% 0 4%;
    align-items: center;

    li {
      margin: 0 1em;
    }
    .current-menu-item {
      &:last-child::after {
        bottom: 0;
      }
    }
    .sub-menu li:nth-child(2):after {
      bottom: 72%;
    }
  }

  .menu-item-has-children {
    position: relative;
  }
}

#mobile-menu {
  display: none;
  position: absolute;
  right: 3%;
  background-color: rgba(255,255,255, 1);
  padding: 1em;
  z-index: 100;
  top: 117px;
  min-width: 300px;
  max-width: 94%;

  // .menu-item:not(.current-menu-item) {
  .menu-item {
    position: relative;

    &:last-child::after {
      bottom: 85%;
    }
  }

  .sub-menu {
    display: block;

    a {
      font-size: 1.5em;
    }

    .menu-item:last-child:after {
      bottom: 0;
    }

    li:nth-child(2):after {
      bottom: 75%;
    }

    .sub-menu {
      white-space: nowrap;
      right: -10px;
      position: relative;
      z-index: 0;

      li:after {
        border: none;
      }
    }
  }

  @include desktop {
    display: none;
  }
}

.menu-button {
  color: $color_white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'futura_condensed_medium';
  @include font-size(2);
  margin: 0;
  max-width: 80px;
  float: right;

  @include desktop {
    display: none;
  };
}

/* Popup Model */

.modal-box {
  background: #fff;
  position:fixed;
  display:none; /* Hides the modal window by default */
  z-index:9999;
  width:90%;
  box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  color: #fff;
  border-radius: 2px;

  @include tablet {
    width:60%;

  };

  h2 {
    padding: 15px;
    font-size: 1.25em;
    margin: 0;
    text-align: center;
    font-family: $font__sans-serif;
    text-transform: uppercase;
  }

  .content {
    padding: 20px;
    font-size: 22px;
    line-height: 30px;
  }

  .close {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: -3px;
    right: 4px;
    @include font-size(2);
  }

  h3 {
    background: #fff;
    padding: 0 2em 1em;
    font-size: 1em;

    @include desktop {
      font-size: 1.5em;
      padding: 1.5em;
    };
  }

}

.modal-head {
  color: $color_blue;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 33%;
    height: 100%;
  }
  @include tablet {
    flex-direction: row;
    padding: 1.5em;
    img {
      width: 22%;
    }
  }

}

#mc-embedded-subscribe-form {
  background: $color_blue;
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    align-items: flex-start;
  };

  .button {
    font-size: 1em;
    letter-spacing: 1.5px;
    padding: .6em 6em;
    border-radius: 3px;
    @include desktop {
      padding: .5em 3.25em 0.4em;
      width: 33%;
    };
  }
}

.mc-field-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  input {
    font-family: $font__main;
    margin-bottom: 0.25em;
  }

  @include desktop {
    justify-content: flex-start;
    flex-direction: row;

    input {
      margin-right: 1em;
      width: 50%;
    }
  }

}

.submission-error {
  .email {
    border: 1px solid red;
  }

  .response {
    @include desktop {
      position: absolute;
      bottom: 0;
      left: 5%;
    }
  }
}

.popup-body {
  overflow-y: hidden;

  .popup-section {
    background: rgba(3, 3, 3, 0.76) fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 88;
  }
}

.popup-header {
  color: $color_blue;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: space-around;

  .top-branch {
    display: none;
  }

  p {
    font-family: $font__sans-serif;
    margin: 6px 0;
    @include font-size(1.25);
    line-height: 1;
    letter-spacing: 2px;
  }

  span {
    font-family: $font__main;
    font-style: italic;
    @include font-size(0.85);
    text-transform: none;
    white-space: nowrap;
    letter-spacing: 0.5px;
  }

  @include desktop {
    background: $color_blue;
    color: #fff;
    padding: .5em 12em;
    justify-content: space-between;

    .top-branch {
      display: block;
    }

    span {
      @include font-size(1);
    }

  };

}

#popup-button {
  background: white;
  color: $color_blue;
  border: 1px solid $color_blue;
  font-family: $font__main;
  font-style: italic;
  @include font-size(1);
  padding: 0.4em 1em;
  width: 250px;
  text-transform: lowercase;

  span {
    font-weight: bold;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $color_white;
    color: $color_blue;
    transition: all 0.8s ease;
    opacity: 1;
  }

  @include tablet {
    padding: .5em 2em;
    margin-left: 1em;
    width: 260px;
  }

  @include desktop {
    background: $color_blue;
    border-color: #fff;
    color: #fff;
  }
}


// Single page headers (podcast, events, retreats)

.single .home-post-header, .page-template-default .home-post-header{
  border-bottom: 2px solid $color_blue;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
